<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Alphabet Recognition</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <meta charset="utf-8">
    <style>
        input[type=file] {display: inline-block;}
        h1 {text-align: center;}
        h2 {text-align: center;}
        p {text-align: center;}
    </style>

</head>
<body>

<div class="container">
    <h1 class="jumbotron bg-primary">Sign Alphabet Recognition</h1>
    <br>
    <form class="form-horizontal" action="/submit" method="post" enctype="multipart/form-data">

        <div class="form-group">
            <b>Upload Your Image with the following requirements:</b>
            <br>
            <br> 1) contrastive background and hand color.</br>
            <br>2) 28 * 28 grayscale.</br>
            <br>
            <div class="col-sm-10">
                <input type="file" class="form-control" placeholder="Hours Studied" name="image" id="pwd">
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </form>
    <br>
    {% if prediction %}
    <p style="text-align:center;"><img src="{{img_path}}" height="200px" width="200px"></p>
    <h2> Your Prediction : <i> {{prediction}} </i></h2>

    {% endif %}

</div>